<!DOCTYPE html>
<html lang="en" data-ng-app="list">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Lists</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="css/web.css" />
	</head>
	<body data-ng-controller="listController">
    	<section>
			<nav id="mainNav" class="navbar custom-navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
				        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        	<span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				        </button>
				        <a class="navbar-brand page-scroll" href="dashboard.html">Onus IT Solution</a>
				    </div>
				
				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				        <ul class="nav navbar-nav">
				           <li>
				              <a class="page-scroll" href="dashboard.html">
					             <span class="glyphicon glyphicon-home">
					                <strong>Home</strong>
					             </span>
				              </a>
				           </li>
				           <li>
				              <a class="page-scroll" href="create.html">
				                 <span class="glyphicon glyphicon-plus"></span>&nbsp;Create</a>
				           </li>
				           <li>
				              <a class="page-scroll" href="edit.html">
				                 <span class="glyphicon glyphicon-edit"></span>&nbsp;Update</a>
				           </li>
				           <li>
				              <a class="page-scroll" href="userdetails.html">
				                 <span class="glyphicon glyphicon-blackboard"></span>&nbsp;User Details</a>
				           </li>
				           <li class="active">
				              <a class="page-scroll" href="list.html">
				                 <span class="glyphicon glyphicon-list-alt"></span>&nbsp;List</a>
				           </li>
				           <li>
				              <a class="page-scroll" href="onetomany.html">
				                 <span class="glyphicon glyphicon-briefcase"></span>&nbsp;One To Many</a>
				           </li>
				           <!-- Sub-sub Menu Navigation -->
						   <li>
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
					          	<span class="glyphicon glyphicon-tasks"></span>&nbsp; User Management <b class="caret"></b>
					          </a>
					             <ul class="dropdown-menu">
					                 <li><a href="#">Create User Role</a></li>
					                 <li><a href="#">Update User Role</a></li>
					                 <li><a href="#">Remove User Role</a></li>
					                 <li class="divider"></li>
					                 <li><a href="#">User Role List</a></li>
					                 <li class="divider"></li>
					                 <li class="dropdown-submenu">
					                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Role Category</a>
					                        <ul class="dropdown-menu">
					                            <li><a href="#">Admin</a></li>
					                            <li><a href="#">Sr. Executive</a></li>
					                            <li><a href="#">Executive</a></li>
					                            <li class="divider"></li>
					                            <li><a href="#">Separated link</a></li>
					                            <li class="divider"></li>
					                            <li class="dropdown-submenu">
					                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
					                                   <ul class="dropdown-menu">
					                                    	<li><a href="#">Action</a></li>
					                                        <li><a href="#">Another action</a></li>
					                                        <li><a href="#">Something else here</a></li>
					                                        <li class="divider"></li>
					                                        <li><a href="#">Separated link</a></li>
					                                        <li class="divider"></li>
					                                        <li><a href="#">One more separated link</a></li>
					                                    </ul>
					                            </li>
					                       </ul>
					                </li>
					            </ul>
					       </li>
					       <li>
				              <a class="page-scroll" href="confirmation.html">
				                 <span class="glyphicon glyphicon-bell"></span>&nbsp;Notification</a>
				           </li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right">
					      <li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> &nbsp;John Smith <b class="caret"></b></a>
					          	<ul class="dropdown-menu">
					                <li>
					                    <a href="#"><i class="glyphicon glyphicon-user"></i> Profile</a>
					                </li>
					                <li>
					                    <a href="#"><i class="glyphicon glyphicon-envelope"></i> Inbox</a>
					                </li>
					                <li>
					                    <a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a>
					                </li>
					                <li class="divider"></li>
					                <li>
					                   	<a href="#"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
					                </li>
					           </ul>
					     </li>
					</ul>
				  </div>
				  <!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</section>
        <section>
        
          <div class="container" id="container"><br>
            <div class="form-horizontal boundary">
              <div class="typesDemo row">
              	<form action = "getList.html" method="post" id="getList" name="getList">
	                <br>
	                <div class="col-md-10 col-md-offset-1" style="padding-bottom: 10px">
	                <!-- PAGE HEADER -->
					<div id="header" class="page-header">
					    <h4><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;User List</h4>
					</div>
	                	<div class="table-responsive">
	                		<div style="padding-bottom: 5px">
	                			<button type="submit" class="btn btn-sm btn-primary">
	                				<span class="glyphicon glyphicon-filter">&nbsp;</span>Filter
	                			</button>
	                			<button type="reset" class="btn btn-sm btn-primary">
	                				<span class="glyphicon glyphicon-refresh">&nbsp;</span>Clear Filter
	                			</button>
	                		</div>
	                		
				            <table class="table table-bordered table-condensed tablestyle" id="example">
				            	<colgroup>
								    <col><col><col class="selectedcolumn"><col><col>
								</colgroup>
					            <thead>
					            	<tr class="active">
		                				<th>
		                					<input type="search" class="form-control input-sm" name="fname" data-ng-model="fname" placeholder="Search" />
		                				</th>
		                				<th>
		                					<input type="search" class="form-control input-sm" name="lname" data-ng-model="lname" placeholder="Search" />
		                				</th>
		                				<th>
		                					<input type="search" class="form-control input-sm" name="email" data-ng-model="email" placeholder="Search" />
		                				</th>
		                				<th>
		                					<input type="search" class="form-control input-sm" name="contact" data-ng-model="contact" placeholder="Search" />
		                				</th>
		                				<th>
		                					<input type="search" class="form-control input-sm" name="role" data-ng-model="role" placeholder="Search" />
		                				</th>
	                				</tr>
						            <tr>
							            <th class="sorting" data-ng-click="setColumnValue('First Name')">
							            	First Name <input type="hidden" name="columnName" data-ng-value="columnName" data-ng-model="columnName" />
							            </th>
							            <th class="sorting" data-ng-click="setColumnValue('Last Name')" >Last Name</th>
							            <th class="sorting_desc" data-ng-click="setColumnValue('E-mail')" >E-mail</th>
							            <th class="sorting_asc" data-ng-click="setColumnValue('Contact')" >Contact</th>
							            <th class="sorting" data-ng-click="setColumnValue('Role')" >Role</th>
						            </tr>
					            </thead>
					            <tbody>
						            <tr>
						            	<td>Md Saiful</td>
						            	<td>Islam</td>
						            	<td>saif99.2012@gmail.com</td>
						            	<td>01612205942</td>
						            	<td>Admin</td>
						            </tr>
						            <tr>
						            	<td>Md Saiful</td>
						            	<td>Islam</td>
						            	<td>saif89.2012@gmail.com</td>
						            	<td>01512205942</td>
						            	<td>Manager</td>
						            </tr>
						            <tr>
						            	<td>Md Saiful</td>
						            	<td>Islam</td>
						            	<td>saif79.2012@gmail.com</td>
						            	<td>01812205942</td>
						            	<td>Accountant</td>
						            </tr>
						            <tr>
						            	<td>Md Saiful</td>
						            	<td>Islam</td>
						            	<td>saif69.2012@gmail.com</td>
						            	<td>01712205942</td>
						            	<td>Executive</td>
						            </tr>
						            <tr>
						            	<td>Md Saiful</td>
						            	<td>Islam</td>
						            	<td>saif59.2012@gmail.com</td>
						            	<td>01912205942</td>
						            	<td>Officer</td>
						            </tr>
					            </tbody>
				            </table>
				        </div>
	                </div>
	                
	                <div class="form-horizontal">
	                	<div class="col-md-10 col-md-offset-1">
					        
					        <div class="col-md-4" style="padding-top: 15px; text-align: left">
						        <div class="form-inline" role="group" style="padding-bottom: 10px">
									Showing entries :
										<div class="input-group">
							               <select class="form-control input-sm" name="entriPerPage" data-ng-model="entriPerPage" data-ng-value="entriPerPage" >
							                   <option value='5'>5</option>
								               <option selected="selected" value='10'>10</option>
								               <option value='15'>15</option>
								               <option value='20'>20</option>
							               </select>
							               <div class="input-group-btn">
							                  <button type="submit" class="btn btn-sm btn-primary" 
							                     tabindex="-1">Go!
							                  </button>
							               </div><!-- /btn-group -->
							            </div><!-- /input-group -->
								</div>
					        </div>
					        
					        <div class="col-md-4" style="padding-top: 20px; padding-bottom: 50px; text-align: left">
					        	Showing Page: {{ currentPage }} Out of {{ currentTotalPage }}, from
					        	<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					        	Total Pages: {{ totalPage }}.
					        </div>
					        
					        <div class="col-md-4" style="text-align: left">
					        
					        	<!-- Getting Page -->
			                	<input type="hidden" name="pageNumber" data-ng-model="pageNumber" data-ng-value="pageNumber" />
			                	
								<ul class="pagination pagination-sm">
								   <li><a class="btn disabled" data-ng-click="setPageValue('first')">&laquo;</a></li>
								   <li><a class="btn disabled" data-ng-click="setPageValue('prev')">&lsaquo;</a></li>
								   <li class="active"><a class="btn">1</a></li>
								   <li><a class="btn" data-ng-click="setPageValue('2')">2</a></li>
								   <li><a class="btn" data-ng-click="setPageValue('3')">3</a></li>
								   <li><a class="btn" data-ng-click="setPageValue('4')">4</a></li>
								   <li><a class="btn" data-ng-click="setPageValue('5')">5</a></li>
								   <li><a class="btn">..</a></li>
								   <li><a class="btn" data-ng-click="setPageValue('next')">&rsaquo;</a></li>
								   <li><a class="btn" data-ng-click="setPageValue('last')">&raquo;</a></li>
								</ul>
					        </div>
					    </div>
	                </div>
			    </form>
              </div>
            </div>
          </div>
        </section>
        <footer class="footer navbar-fixed-bottom" id="footer" style="">
	      <div id="footer">
			  <div class="container">
			    <p class="text-muted" style="padding: 15px; text-align: center">All right belogns to &copy; Onus IT Solution 2015</p>
			  </div>
		  </div>
	    </footer>
	    
	    <script src="AngularJS/angular.min.js"></script>
	    <script src="js/jquery-1.11.2.min.js"></script>
	    <script src="bootstrap/js/bootstrap.min.js"></script>
	    <script src="js/classie.js"></script>
		<script src="js/cbpAnimatedHeader.js"></script>
		<script src="js/web.js"></script>
        <script src="js/list.js"></script>
	</body>
</html>